@font-face {
    font-family: 'Neue Machina';
    src: url('PPNeueMachina-InktrapUltrabold.woff2') format('woff2'),
        url('PPNeueMachina-InktrapUltrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('PPNeueMachina-PlainRegular.woff2') format('woff2'),
        url('PPNeueMachina-PlainRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

