@import "font/stylesheet.css";


body {
    font-family: 'Neue Machina', sans-serif !important;
}

.mt-small {
    margin-top: 5%;
!important;
}

.mt-medium {
    margin-top: 10%;
!important;
}

.mt-large {
    margin-top: 20%;
!important;
}

.huge {
    font-size: 64px;
}
.big {
    font-size: 48px;
}

.text-black {
    color: black;
}